@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --side-bar-width: 16rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .navigation {
    @apply h-12 flex items-center rounded-md hover:bg-orange-200 hover:bg-opacity-20 text-lg;
  }
}

.main {
  width: calc(100% - var(--side-bar-width));
  height: 100vh;
  margin-left: auto;
}

.details {
  height: calc(100vh - var(--side-bar-width));
  width: 32rem;
  > div {
    scrollbar-width: none;
  }
}
