@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --primary-100: hsl(24, 75%, 90%);
  --primary-500: hsl(24, 100%, 50%);
  --primary-900: hsl(24, 75%, 25%);

  --secondary-100: hsl(187, 50%, 95%);
  --secondary-500: hsl(187, 70%, 60%);
  --secondary-900: hsl(187, 50%, 25%);

  --grey-100: hsl(0, 1%, 95%);
  --grey-500: hsl(0, 1%, 40%);
  --grey-900: hsl(0, 1%, 10%);

  --divider: rgba(0, 0, 0, 0.15);

  --side-bar-width: 16rem;
  --header-height: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--grey-900);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .navigation {
    @apply h-12 flex items-center rounded-md hover:font-extrabold text-lg;
  }

  .active {
    @apply font-extrabold bg-primary-500 text-grey-100;
  }

  .icon-md {
    @apply w-6 h-6;
  }

  .icon-sm {
    @apply w-4 h-4;
  }
}

.main {
  width: calc(100% - var(--side-bar-width));
  height: 100vh;
  margin-left: auto;
}

.sub-side {
  position: sticky;
  height: calc(100vh - 2 * var(--header-height));
  top: var(--header-height);
  width: 32rem;
  > div {
    scrollbar-width: none;
  }
}
