@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --primary-100: hsl(24, 75%, 90%);
  --primary-500: hsl(24, 100%, 50%);
  --primary-900: hsl(24, 75%, 25%);

  --secondary-100: hsl(187, 50%, 95%);
  --secondary-500: hsl(187, 70%, 60%);
  --secondary-900: hsl(187, 50%, 25%);

  --grey-100: hsl(0, 1%, 95%);
  --grey-500: hsl(0, 1%, 40%);
  --grey-900: hsl(0, 1%, 10%);

  --divider: rgba(0, 0, 0, 0.12);

  --side-bar-width: 16rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--grey-900);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .navigation {
    @apply h-12 flex items-center rounded-md hover:bg-orange-200 hover:bg-opacity-20 text-lg;
  }
}

.main {
  width: calc(100% - var(--side-bar-width));
  height: 100vh;
  margin-left: auto;
}

.details {
  height: calc(100vh - var(--side-bar-width));
  width: 32rem;
  > div {
    scrollbar-width: none;
  }
}
